
html{
  background-color: #202227;
}

.App {
  text-align: center;
}

.App-title {
  text-align: left;
  padding-left: 80px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  box-shadow: 0px 0px 20px #0d0d0d;
  border-bottom: 3px solid #1590b6;

  margin-bottom: 50px;

}

.Categorie-list {
  text-align: center;
  list-style: none;
  display: inline;
  padding: 20px;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: -30px;
  float: right;
}

.Categorie-list button{
  font-size: 30px;
  border: none; 
  background-color: rgba(0, 0, 0, 0);
  color: #ffff
}

.Categorie-list button:hover{ 
  font-size: 30px;
  border: none; 
  background-color: rgba(0, 0, 0, 0);
  color: #1590b6;
  text-decoration: underline;
}

.Movie-title {
  color:#d0d0d0;
  text-align: center;
  font-size: 20px;
}

.Movie-list {
  text-decoration: none;
  display: inline;
  float: left;
  width: 300px;
}

.Movie-image{
  border-radius: 10px;
  box-shadow: 0px 0px 20px #0d0d0d;
  background-color: #d0d0d0;
  width: 90%;
}

.Movie-image:hover{
  opacity: 15%;
}

.Movie-background {
  width: 300px;
  height: 400px;
}

.Movie-details {

  background-color:  #e6e6e6;
  border-radius: 15px;

  width: 1000px;
  height: 550px;

  margin-left: -48px;

  text-align: center;
}

.Movie-rating {
  color: #edd945;
  font-style: bold;
  margin-top: -18px;
  margin-right: -20px;
}

.Movie-pages {
  margin-top: -50px;
  float: right;
}

.Movie-pages button {
  width: 50px;
  height: 50px;
  font-size: 20px;
  background-color: #1590b6;
  border: 1px solid #127fa0;
  color: #ffff
}

.Movie-pages button :hover {
  background-color: #1584a5;
}

.Movie-related {
  margin-top: -70px;
}

.Movie-related button {
  width: 200px;
  height: 50px;
  font-size: 20px;
  background-color: #1590b6;
  border: 1px solid #127fa0;
  margin: 30px;
  color: #ffff;
}

.Star-icon {
  width: 20%;
  margin-left: -47px;
  margin-top: 3px;
}

.Description-window {
  color: #d0d0d0;
  width: 220px;
  height: 375px;
  text-align: center;
  margin-left: 44px;
  margin-top: -520px;
}

.Description-window h1{
  color: #ffff;
}

.App-body{
  background-color: #282c34;
}

.video {
  width: 980px;
  margin: auto;
  margin-top: -30px;
}

.Title {
  margin-bottom: -65px;
  
  text-align: left;

}

.Details-title {
  background-color: #1590b6;
  color: #ffff;
  border-radius: 5px;

  padding: 10px;
}

.Details-desc {
  width: 750px;

  margin-top: -3px;
  margin-left: 230px;

  margin-bottom: 100px;

  text-align: center;

  font-size: 18px;
}

.Details-rating {
  float: right;
  margin-top: -125px;
  margin-right: -30px;
  font-size: 20px;
}

.Details-star {

  width: 12%;
  margin-bottom: -5px;
  margin-right: 10px;

}

.Details-image {
  width: 20%;
  float: left;
  margin-left: 20px;
  margin-right: 15px;
  border-radius: 10px;
}

.Details-type {
  font-weight: bold;
  text-align: left;
  border-bottom: 1px solid #a5a3a3;
  width: 500px;
}

.Details-cont {
  font-weight: normal;
}

.Details-holder {
  margin-top: -150px;
  margin-bottom: 130px;
  margin-left: -20px;
}

.rating-background {

  width: 80px;
  height: 25px;

  margin-top: -30px;
  margin-right: 25px;
  float: right;

  position: relative;
  background-color: #1590b6;

  border-radius: 5px;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
